<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Downloader</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Spotify Downloader</h1>
    <form id="downloadForm" action="/download" method="post">
        <label for="song_url">Spotify URL:</label>
        <input type="text" id="song_url" name="song_url" required>
        <button type="submit" id="downloadButton">Download</button>
    </form>

    <div id="progress">
        <div class="ring">
            <div class="text">
                <p>Loading</p>
                <div class="progress-text">0 items</div>
            </div>
          </div>
    </div>
    {% if data %}
        <div id="message">
            <p>{{ data.hide }}</p>
            <a href="./downloads/{{ data.session_id }}.zip" download="{{ data.session_id }}.zip">Download</a>
        </div>
    {% endif %}

    <section id="how-to-use">
        <h2>How to use?</h2>
        <ol>
            <li>Open Spotify</li>
            <li>Find the song / album / playlist to download</li>
            <li>Click on the 3 dots</li>
            <li>Click "Share" and then "Copy Link" button</li>
            <li>Paste copied link above and press Download</li>
        </ol>
    </section>
</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>
